/**
 * オリジナルのCSS
 */

@import 'lib/toastr';

/* サイズ */
$baseTitleSize: 0.8em;

/* 色 */
/*$baseFontColor: #262626;*/
$baseFontColor: #003569;
$baseBgColor: linear-gradient(-135deg, #E4A972, #9941D8);
$baseBorderColor: #efefef;

/* Main */

body#my-override {
  color: $baseFontColor;
  background-color: #fafafa;
}

#header {
  background: $baseBgColor;

  h1 {
    padding-left: 0.5em;

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

#main {
  background-color: #fafafa;
}

#footer {
  background: #fff;
  color: $baseFontColor;
  padding: 2em 0 1em 0;

  a {
    color: $baseFontColor;
  } a:hover {
    color: $baseFontColor;
  }

  .copyright {
    color: $baseFontColor;
  }
}