<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>トップ | <%= title.jp %></title>
    <%- include('layout/common_head.ejs.html') -%>

  <!-- 外部ツールCDN -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/diff2html/2.3.3/diff2html.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/3.4.0/diff.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/diff2html/2.3.3/diff2html.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/diff2html/2.3.3/diff2html-ui.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </head>
<body id="my-override">
<!-- Header -->
  <%- include('layout/header.ejs.html') -%>

  <div id="main" class="container">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <textarea class="form-control" rows="5" id="txt1" name="txt1" placeholder="テキストを入力してください"></textarea>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <textarea class="form-control" rows="5" id="txt2" name="txt2" placeholder="テキストを入力してください"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <div class="form-group row">
            <label for="outputFormat" class="col-sm-1 col-form-label">表示</label>
            <div class="col-sm-4">
              <select class="form-control" id="diff-url-options-output-format" name="outputFormat">
                <option value="line-by-line">Line by Line</option>
                <option value="side-by-side" selected>Side by Side</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3">
              <button type="button" id="btn-exec" class="btn btn-primary btn-block">比較する</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div id="app">
    </div>
  </div>

<!-- Footer -->
  <%- include('layout/footer.ejs.html') -%>


<!-- Scripts -->
  <%- include('layout/script.ejs.html') -%>

  <script>
  document.addEventListener('DOMContentLoaded', function() {
      $('#btn-exec').on('click', function(){
        const text1 = $('#txt1').val();
        const text2 = $('#txt2').val();
        const outputFormat = $('#diff-url-options-output-format').val();

        const unifiedDiff = JsDiff.createPatch("fileName", text1, text2, "test", "test");

        const diff2htmlUi = new Diff2HtmlUI({diff: unifiedDiff});
        diff2htmlUi.draw('#app', {inputFormat: 'json', showFiles: true, matching: 'lines', outputFormat: outputFormat});
        $('.d2h-file-list-wrapper').css('display', 'none');
        $('.d2h-file-header').css('display', 'none');
      });
  });
  </script>
</body>
</html>