<!DOCTYPE HTML>
<html>
  <head>
    <title>TEST</title>
  <link rel="stylesheet" href="../assets/css/main.css" />
  </head>
  <body>
    <div id="destination-elem-id">
    </div>

      <script src="../assets/js/main.js"></script>
      <script>
        (function($) {
          var s1 = ["a\n", "b\n", "c\d\n", "e\n", "\nf"];
          var s2 = ["a\n", "b\n", "ac\d\n", "e\n", "\n", "\nf"];
          var res = difflib.contextDiff(s1, s2)
// console.log(res);
// console.log(res.join("\n"));
//           var diffHtml = Diff2Html.getPrettyHtml(
//             res.join('\n'),
//             {inputFormat: 'diff', showFiles: true, matching: 'lines', outputFormat: 'side-by-side'}
//           );
          // document.getElementById("destination-elem-id").innerHTML = diffHtml;

          console.log(res.join('\n'));
          const diff2htmlUi = new Diff2HtmlUI({diff: res.join('\n')});
          diff2htmlUi.draw('#destination-elem-id', {inputFormat: 'json', showFiles: true, matching: 'lines'});
        })(jQuery);
      </script>
  </body>
</html>